@model IEnumerable<WLDesigna.Models.Raiz>

@{
    ViewData["Title"] = "Raiz";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Raiz</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PubName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentPubName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booknum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pub)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Issue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormattedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Track)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specialty)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PubName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentPubName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Booknum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pub)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Issue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormattedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Track)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialty)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
