@model IEnumerable<Designa.Models.Reuniao>

@{
    ViewData["Title"] = "Reuniões";
}

<h1>Reuniões</h1>

@foreach (var item in Model) {
        <div class="container mt-8">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <h1>Semana</h1>
                <p>@Html.DisplayFor(modelItem => item.Semana)</p>

                <div class="card">
                    @* <div class="card-header bg-primary text-white">
                        <h2>Programação da Reunião de Meio da Semana</h2>
                    </div> *@
                    <div class="card-body">
                        @if(item.Partes.Count() != 0)
                        {
                            @foreach (var parte in item.Partes)
                            {
                                <h4 class="@(item.Partes.FirstOrDefault(x => x.Titulo.Equals("Faça seu melhor no ministério")).Index > parte.Index ? "txt-color-teal" :
                                           (item.Partes.FirstOrDefault(x => x.Titulo.Equals("Nossa vida cristã")).Index > parte.Index ? "txt-color-gold" : "txt-color-maroon"))">
                                    @Html.DisplayFor(modelitem => parte.Numero). 
                                    @Html.DisplayFor(modelitem => parte.Titulo)
                                    @(parte.Numero != 0 ? $"({parte.Minutos} min)" : "")
                                </h4>
                                <p>...</p>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
