@using Designa.Models
@model X.PagedList.IPagedList<Designa.Models.Reuniao>

@{
    ViewData["Title"] = "Reuniões";
}

<form asp-action="Create" method="post">
    <div class="row mb-4 mt-4 align-items-center">
        <div class="row col-lg-8 col-sm-6 not-print">
            <h1 class="display-1">REUNIÕES</h1>
        </div>
        <div class="col-lg-4 col-sm-6 text-end not-print">
            <button type="submit" value="Salvar" class="btn btn-success m-2">
                <i class="bi bi-floppy2"></i>
                Salvar
            </button>
            <button type="button" value="Imprimir" onclick="imprimirCards()" class="btn btn-primary m-2">
                <i class="bi bi-printer"></i>
                Imprimir
            </button>
            <button type="button" value="Sortear" class="btn btn-warning m-2">
                <i class="bi bi-shuffle"></i>
                Sortear
            </button>
        </div>
        @{
            int contReuniao = 0;
        }
        @foreach (var reuniao in Model)
        {
            <div class="card mb-4">
                <div class="card-header bg-header text-white">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <a href="#collapse-@contReuniao" data-bs-toggle="collapse" class="btn text-white" role="button" aria-expanded="false">
                                <input type="hidden" asp-for="@Model[contReuniao].Id" />
                                <input type="hidden" asp-for="@Model[contReuniao].Issue" />
                                <input type="hidden" asp-for="@Model[contReuniao].Semana" />
                                <h1>Semana de @Html.DisplayFor(modelItem => reuniao.Semana)</h1>
                            </a>
                        </div>
                        <div class="col-4 text-center">
                            <h1><label for="presidenteNome-@contReuniao" class="form-label">Presidente </label>
                            <input type="hidden" asp-for="@Model[contReuniao].PresidenteId" id="presidenteId-@contReuniao" value="@reuniao.PresidenteId" />
                            <input type="text" asp-for="@Model[contReuniao].Presidente!.Nome" id="presidenteNome-@contReuniao" class="form-control text-center presidente-autocomplete" />
                            </h1>
                        </div>
                    </div>
                </div>
                <div id="collapse-@contReuniao" class="card-body collapse @(contReuniao==0 ? "show": "")">
                    @{
                        int cont = 0; // Reseta o contador
                        int contPartes = 0;
                    }
                    @foreach (var parte in reuniao.Partes)
                    {
                        //campos de carga do objeto parte
                        <input type="hidden" name="[@contReuniao].Partes[@contPartes].Id" value="@parte.Id" />
                        <input type="hidden" name="[@contReuniao].Partes[@contPartes].Index" value="@parte.Index" />
                        <input type="hidden" name="[@contReuniao].Partes[@contPartes].Numero" value="@parte.Numero" />
                        <input type="hidden" name="[@contReuniao].Partes[@contPartes].Titulo" value="@parte.Titulo" />
                        <input type="hidden" name="[@contReuniao].Partes[@contPartes].Minutos" value="@parte.Minutos" />
                        <input type="hidden" name="[@contReuniao].Partes[@contPartes].ReuniaoId" value="@parte.ReuniaoId" />
                        <input type="hidden" name="[@contReuniao].Partes[@contPartes].PublicadorParteId" value="@parte.PublicadorParteId" />

                        @* <input type="hidden" name="[@contReuniao].Partes[@contPartes].PublicadorParte.ParteId" value="@parte.PublicadorParte?.ParteId" /> *@
                        <input type="hidden" name="[@contReuniao].Partes[@contPartes].PublicadorParte.Id" value="@parte.PublicadorParte?.Id" />

                        if (parte.Numero == 0)
                            cont++;

                        <div class="row mb-4 justify-content-between">
                            <div class="col @(parte.Numero == 0 ? "mt-5" : "")">
                                @if (parte.Numero == 0 && cont == 1)
                                {
                                    <div class="icon-gema float-sm-start me-3 mb-2"></div>
                                    <h1 class="txt-color-teal">
                                        @($" {parte.Titulo}")
                                    </h1>
                                }
                                else if (parte.Numero == 0 && cont == 2)
                                {
                                    <div class="icon-cevada float-sm-start me-3 mb-2"></div>
                                    <h1 class="txt-color-gold">
                                        @($" {parte.Titulo}")
                                    </h1>
                                }
                                else if (parte.Numero == 0 && cont == 3)
                                {
                                    <div class="icon-ovelha float-sm-start me-3 mb-2"></div>
                                    <h1 class="txt-color-maroon">
                                        @($" {parte.Titulo}")
                                    </h1>
                                }

                                @if (parte.Numero != 0)
                                {
                                    <h4 class="@(cont == 1 ? "txt-color-teal" : cont == 2  ? "txt-color-gold" : "txt-color-maroon")">
                                        @($"{parte.Numero}. {parte.Titulo} ({parte.Minutos} min)")
                                    </h4>
                                }
                            </div>
                            @if (parte.Numero != 0)
                            {
                                <div class="col-3 align-items-end input-publicador">
                                    <input type="hidden" name="[@contReuniao].Partes[@contPartes].PublicadorParte.PublicadorId" id="publicadorId_@contReuniao-@contPartes" value="@parte.PublicadorParte?.PublicadorId" />
                                    <input type="text" value="@parte.PublicadorParte?.Publicador?.Nome" placeholder="Publicador" data-sessao="@cont"
                                        id="publicadorNome_@contReuniao-@contPartes" class="form-control text-center buscaPublicador" />
                                </div>
                                @if (cont == 2 || reuniao.Partes.LastOrDefault()?.Numero == parte.Numero)
                                {
                                    <div class="col-3 input-ajudante">
                                        <input type="hidden" name="[@contReuniao].Partes[@contPartes].PublicadorParte.PublicadorAjudanteId" 
                                            id="publicadorAjudante_@contReuniao-@contPartes" value="@parte.PublicadorParte?.PublicadorAjudanteId" />
                                        <input type="text" value="@parte.PublicadorParte?.PublicadorAjudante?.Nome" placeholder="Ajudante"
                                            id="publicadorAjudante_@contReuniao-@contPartes" class="form-control text-center buscaPublicador" />
                                    </div>
                                }
                            }
                        </div>
                        contPartes++;
                    }
                    <div class="row align-items-center">
                        <div class="col-1 offset-8">
                            <label for="presidente.nome-@contReuniao" class="form-label">Oração: </label>
                        </div>
                        <div class="col-3 justify-content-end">
                            <input type="hidden" asp-for="@Model[contReuniao].PublicadorOracaoId" id="publicadorOracaoId-@contReuniao" />
                            <input type="text" asp-for="@Model[contReuniao].PublicadorOracao!.Nome" id="publicadororacaoNome-@contReuniao" class="form-control text-center publicadorOracao-autocomplete" />
                        </div>
                    </div>
                </div>
            </div>
            contReuniao++;
        }
    </div>
</form>

<script>
    if (!isFinite('@TempData["ErrorMessage"]')) {
        alert('@TempData["ErrorMessage"]');
    }

    @* autocomplete do presidentes *@
    $(function () {
        var presidentes = @Html.Raw(Json.Serialize(ViewBag.Presidentes));

        $(".presidente-autocomplete").autocomplete({
            open: function () {
                $("ul.ui-menu").width($(this).innerWidth());
                $(".ui-helper-hidden-accessible").hide();
            },
            source: presidentes.map(function (p) {
                return p.nome;
            }), 
            select: function (event, ui) {
                var presidenteSelecionado = presidentes.find(function (p) {
                    return p.nome === ui.item.value;
                });

                // Obter o índice do elemento
                var index = $(this).attr('id').split('-')[1];

                var id;
                var valor;

                id = 'presidenteId-' + index;
                valor = presidenteSelecionado.id;

                // Adicione o novo campo ao seu contêiner (por exemplo, um formulário)
                $('#' + id).val(valor);
            }
        });
    });

    @* autocomplete da oração *@
    $(function () {
        var publicadorOracao = @Html.Raw(Json.Serialize(ViewBag.PublicadorOracao));

        $(".publicadorOracao-autocomplete").autocomplete({
            open: function () {
                $("ul.ui-menu").width($(this).innerWidth());
                $(".ui-helper-hidden-accessible").hide();
            },
            source: publicadorOracao.map(function (p) { return p.nome; }),
            select: function (event, ui) {
                var publicadorOracaoSelecionado = publicadorOracao.find(function (p) {
                    return p.nome === ui.item.value;
                });

                // Obter o índice do elemento
                var index = $(this).attr('id').split('-')[1];

                var id;
                var valor;

                id = 'publicadorOracaoId-' + index;
                valor = publicadorOracaoSelecionado.id;

                // Adicione o novo campo ao seu contêiner (por exemplo, um formulário)
                $('#' + id).val(valor);
            }
        });
    });

    @* autocomplete do publicador/ajudante *@
    $(function () {
        var publicadores = @Html.Raw(Json.Serialize(ViewBag.Publicadores));

        $(".buscaPublicador").autocomplete({
            open: function () {
                $("ul.ui-menu").width($(this).innerWidth());
                $(".ui-helper-hidden-accessible").hide();
            },
            source: function (request, response) {
                    var sessao = $(this.element).data('sessao'); // Pega o data-sessao do input

                    // Aqui você pode usar o 'sessao' para filtrar os publicadores ou qualquer outra lógica
                    var resultados = publicadores
                        .filter(function(p) {
                           if (sessao != 2) {
                                return p.sexo === 'M' && p.nome.toLowerCase().includes(request.term.toLowerCase());
                            }
                            return p.nome.toLowerCase().includes(request.term.toLowerCase());
                        })
                        .map(function(p) {
                            return p.nome;
                        });

                    response(resultados);
            },
            select: function (event, ui) {
                var publicadorSelecionado = publicadores.find(function (p) {
                    return p.nome === ui.item.value;
                });

                // Obter o índice do elemento
                var indices = $(this).attr('id').split('_')[1];
                var indexReuniao = indices.split('-')[0];
                var indexParte = indices.split('-')[1];

                var id;
                var valor;
                if ($(this).attr('id').split('_')[0] != 'publicadorAjudante') {
                    id = 'publicadorId_' + indexReuniao + '-' + indexParte;
                } else {
                    id = 'publicadorAjudante_' + indexReuniao + '-' + indexParte;
                }

                valor = publicadorSelecionado.id;

                // Adicione o novo campo ao seu contêiner (por exemplo, um formulário)
                $('#' + id).val(valor)
            }
        });
    });
</script>
