@using Designa.Models
@model IEnumerable<Designa.Models.Publicador>

@{
    ViewData["Title"] = "Publicadores";
}

<h1>Publicadores</h1>
<hr />
<div id="myPartialContainer">
    @await Html.PartialAsync("_Edit", new Publicador())
</div>
<hr />
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Ação</th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMenorIdade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mae)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr onclick="editar(@item.Id)">
                <th><i class="bi bi-pencil-square" title="Editar registro"></i></th>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SexoDesc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EMenorIdade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pai.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mae.Nome)
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function editar(Id) {
        $.ajax({
            type: "POST",
            url: "@Url.Action("Edit")",
            data: { id: Id },
            dataType: "text",
            success: function (data) {
                $('#myPartialContainer').html(data);
            },
            error: function (req, status, error) {
                console.log(error);
            }
        });
    }

    function Pesquisa() {
        let pesquisa = $("#txtBusca").val()
        $.ajax({
            type: "POST",
            url: "@Url.Action("Pesquisa")",
            data: { Nome: pesquisa },
            dataType: "text",
            success: function (data) {

            },
            error: function (req, status, error) {
                console.log(error);
            }
        });
    }

    if (!isFinite('@TempData["ErrorMessage"]')) {
        alert('@TempData["ErrorMessage"]');
    }
</script>